#canvas {
    margin-top: 300px; /* Adjust this value to lower the canvas */
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #444343; 
    border: purple;

    background-image: url("../src/image.jpg");
    background-size: cover;
    background-size: 180%;
    background-position: center;
    background-repeat: no-repeat;
}

.start-page {
    position: absolute;
    top: 50%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.game-over {
    position: absolute;
    top: 50%;
    color: white;
    display: none;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 67%;
    left: 50%;
    margin-top: 1vh;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-family: monospace;
    color: white;
}

.github-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

